body {
    margin: 0;
    background-color: black;
}

main {
    width: 50%;
    min-width: 500px;
    margin: 0 auto;
    height: 100vh;
    background-color: darkred;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image:
        url("./img/prikker.png"),
        url("./img/left.svg"),
        url("./img/right.svg"); 

    background-repeat:
        repeat,
        repeat-y,
        repeat-y;

    background-position: 
        left 0,
        left 0,
        right 0;

    /* Sett inn tre bakgrunnsbilder*/
    /* Sett på background-repeat for alle 3 */
    /* Sett inn background-position for alle 3 */
    animation: tunnel 1s linear infinite;
}

@keyframes tunnel {
    to {
        background-position: 
            left -300px,
            left -300px,
            right -300px;
    }
}

#alice {
    width: 50%;
    animation: snurr 3s linear infinite;
}

@keyframes snurr {
    to {
        transform: rotate(1turn);
    }
}
